<?xml version="1.0" encoding="UTF-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ss" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\vbn\SkillDemo\App_Data\Database.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="RemoteOnly">
            <error statusCode="404" redirect="404.html" />            
        </customErrors>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
